<div class="menu" align= center>
  <h1> :. Big A's Grill .: </h1>
  <h4> Too delicious to be a legitimate business</h4><br><br>

  <h2>Menu</h2>
  =====================================<br><br>
  <h3>Appetizers</h3>
  <h5>Prepare yourself for the deliciousness that is about to come... BY EATING SOME DELICIOUSNESS!</h5>
  <%= image_tag asset_url("mozza_sticks.jpg"), class: "appetizer"%><br><br>
    <div class="menu-items">
      <% @dishes.each do |dish| %>
        <% if dish.course_id == 1 %>
          <p>
            <p><span class="dish-info"><%= link_to dish.name, edit_dish_path(dish) %> $<%= dish.price %></span></p>
            <p><span class="description"><%= dish.description %></p></span>
            </p>
          <% end %>
        <% end %>
  <br><br>
  -------------------------------------<br>
  <h3>Entrees</h3>
  <h5>Where the REAL party begins. This is what you came here for, right?</h5>
  <% @dishes.each do |dish| %>
    <% if dish.course_id == 2 %>
      <p>
        <p><span class="dish-info"><%= link_to dish.name, edit_dish_path(dish) %> $<%= dish.price %></span></p>
        <p><span class="description"><%= dish.description %></p></span>
        </p>
      <% end %>
    <% end %>
<br><br>
  -------------------------------------<br>
  <h3>Desserts!</h3>
  <h5>I know you're not full already! There's gotta be room in there for some more goodies!</h5>
  <% @dishes.each do |dish| %>
    <% if dish.course_id == 3 %>
      <p>
        <p><span class="dish-info"><%= link_to dish.name, edit_dish_path(dish) %> $<%= dish.price %></span></p>
        <p><span class="description"><%= dish.description %></p></span>
        </p>
      <% end %>
    <% end %>
<br><br>



  =======================<br>
  <%= link_to "Add A new Item to Menu", new_dish_path %> |
  <br>=======================
</div>
